<% layout('layouts/boilerplate') %>
<% if(category.accessToken) {%>
<% var token = '?token='+category.accessToken; %>
<% } else {%>
<% var token = '' %>
<% } %>
<a class="btn btn-sm btn-primary mb-2 " href="/categories/<%= category._id + token %>" role="button">Kembali</a>
<div class="titlePageAnswerer">DAFTAR PENJAWAB</div>
<% for(let user of users) {%>

<a href="/categories/<%= category._id %>/<%= user._id %>" class="text-decoration-none">
    <div class="card my-3 col-sm-6 offset-sm-3 cardAnswerer">
        <div class="d-flex flex-wrap name">
            <%= user.name %>
        </div>
        <% for (let score of scores) {%>
        <% if (score.user.equals(user._id)) {%>
        <div class="fw-bold text-danger">
            <%= score.scoreCategory %>
        </div>
        <div class="small fst-italic">
            dikoreksi pada :
            <div><%= score.lastScored %></div>
        </div>
        <% } %>
        <% } %>
    </div>
</a>
<% } %>