<% layout('layouts/boilerplate') %>
<h3 class="text-center mb-2">
    <%= categories.categoryName %>
</h3>
<h6 class="text-center font-sm text-uppercase">
    Oleh : <%= categories.author.username %>
</h6>
<% if (categories.author.equals(currentUser._id)) {%>
<div class="col-sm-8 offset-sm-2 mt-0 mb-5 d-flex justify-content-around">
    <a href="/categories/<%= categories._id%>/answerer"><button class="btn btn-sm btn-secondary">Koreksi
            penjawab</button></a>
</div>
<% } %>

<% for (let post of categories.posts) {%>
<div class="col-sm-8 offset-sm-2 card mt-0 mb-5">
    <div id="cardShowHeader" class="card-header">
        <h6 class=" m-auto">
            <%= post.title %>
        </h6>
        <% if(currentUser && post.author.equals(currentUser._id)) {%>
        <div id="buttonShow">
            <% if (post.isAvailable==="true" ) {%>
            <form action="/posts/<%= post._id %>/hide" method="POST">
                <button class="btn btn-sm btn-warning">Tutup Soal</button>
            </form>
            <% } else {%>
            <form action="/posts/<%= post._id %>/unhide" method="POST">
                <button class="btn btn-sm btn-success">Buka Soal</button>
            </form>
            <% } %>
            <a href="/posts/<%= post._id %>/edit"><button type="button" class="btn btn-info"
                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Edit</button></a>
            <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                <button class="btn btn-danger"
                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Hapus</button>
            </form>
        </div>
        <% } %>
    </div>
    <a class="text-decoration-none text-black" href="/posts/<%=post._id%>">
        <div class="card-body pb-1">
            <p>
                <%= post.description %>
            </p>
        </div>
    </a>
    <div id="carouselExampleIndicators" class="carousel slide my-0" data-bs-ride="true">
        <div class="carousel-indicators">
            <% for (let i=0 ; i<post.images.length ; i++){%>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= i %>"
                <%=i==0 ? "class=active aria-current=true" : '' %> aria-label="Slide <%= i+1 %>"></button>
            <% }%>
        </div>
        <div class="carousel-inner">
            <% for (let i=0 ; i<post.images.length ; i++){%>
            <div class="carousel-item <%= i == 0 ? 'active' : '' %>">
                <img src="<%= post.images[i].url %>" class="d-block w-100 image-post-show" alt="...">
            </div>
            <% }%>
        </div>
        <% if (post.images.length> 1) {%>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        <% } %>
    </div>

</div>
<% } %>