<% layout('layouts/boilerplate') %>
<a class="btn btn-sm btn-primary mb-2 " href="/categories/<%= category._id %>/answerer" role="button">Kembali</a>
<div class="evaluatePageHeaderContainer">
    <div class="evaluatePageHeader card col-6 offset-3">
        <span class="evaluatePageTitle"><%= category.categoryName %></span>
        <span> oleh <%= category.author.name %></span>

    </div>
    <div class="evaluatePageHeader card col-6 offset-3">
        <span>Penjawab : </span>
        <span class="authorName"><%= userComment.name%></span>
    </div>
</div>
<% for(let post of posts) {%>
<% for (let comment of post.comments) {%>
<% if (comment.author.equals(userComment._id)) {%>
<div class="evaluateQnA">

    <div class="card">
        <div class="card-header card-header-question">
            Pertanyaan
        </div>
        <div class="card-body">
            <h4 class="postTitle">
                <%= post.title %>
            </h4>
            <p>
                <%= post.description %>
            </p>
        </div>
    </div>


    <div class="card">
        <div class="card-header card-header-answer">
            Jawaban
        </div>
        <div class="card-body">

            <% if (comment.type == 'options') {%>

            <% for(let option of post.options) {%>
            <div class="answerMCQ">
                <div class="answerMCQ-option">
                    <label class="form-check-input"></label>


                    <!-- if only the answer is wrong and the option from the loop meet the key of options then key answer is showed -->
                    <% if (option == post.options[post.key] && comment.correctness === false ) {%>
                    <div class="text-success answerCorrectness">
                        <span class="material-symbols-rounded">
                            key
                        </span>
                    </div>
                    <% } %>
                    <% if (option == comment.choiceValue && comment.correctness === true ) {%>
                    <div class="text-success answerCorrectness">
                        <span class="material-symbols-rounded fs-5">
                            verified
                        </span>
                    </div>
                    <% } else if (option == comment.choiceValue && comment.correctness === false ) {%>
                    <div class="text-danger answerCorrectness">
                        <span class="material-symbols-rounded fs-5">
                            block
                        </span>
                    </div>
                    <% } %>
                    <div class="answerMCQ-textAnswer">
                        <%=option  %>
                    </div>
                </div>
            </div>
            <% } %>

            <% } else if(comment.type == 'essay') {%>
            <div><%= comment.text %></div>

            <% } %>
        </div>
    </div>
</div>
<% } %>
<% } %>
<% } %>