<% layout('layouts/boilerplate') %>
<div id="categoryIndexContainer">
  <div id="indexTopContainer">
    <div id="navReplacementIndex">
      <div class="navIndexContainer">
        <a class="nav-link navMenu" href="/categories">Menu</a>
        <a class="nav-link navMenu" href="/posts/new">Buat Soal</a>
        <% if (currentUser) {%>
        <a class="nav-link navMenu" href="/<%= currentUser._id %>">Akun</a>
        <% } %>
        <a class="nav-link navMenu" href="/about">About Us</a>
      </div>

      <% if(!currentUser) { %>
      <div class="navIndexContainer">
        <a class="nav-link navAuth" href="/login"
          ><img src="/icons/login.svg" class="spanMaterialSymbol" alt="" />

          <span class="spanMaterialSymbol">Login</span>
        </a>
        <a class="nav-link navAuth" href="/register">
          <img
            src="/icons/app_registration.svg"
            class="spanMaterialSymbol"
            alt=""
          />
          <span class="spanMaterialSymbol">Register</span></a
        >
        <% } else { %>
        <a class="nav-link navAuth" href="/logout">
          <img src="/icons/logout.svg" class="spanMaterialSymbol" alt="" />
          <span class="spanMaterialSymbol">Logout</span></a
        >
        <% } %>
      </div>
    </div>
    <div id="indexSearchContainer">
      <img
        src="https://res.cloudinary.com/dgny2tywl/image/upload/v1683974552/Logo/eztes_uibnyt.svg"
        alt="Logo"
        width="500"
        class="d-inline-block align-text-center"
      />
      <div id="indexSearch">
        <form action="/categories" method="get">
          <div class="mb-3 inputContainer">
            <input
              type="text"
              placeholder="Kategori"
              class="form-control"
              id="category"
              name="categoryName"
              spellcheck="false"
            />
          </div>
          <div class="mb-3 inputContainer">
            <input
              type="text"
              placeholder="Pemilik"
              class="form-control"
              id="owner"
              name="authorName"
              spellcheck="false"
            />
          </div>
          <div class="buttonContainer">
            <button>
              <img src="/icons/search.svg" alt="" />
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div id="indexBottomContainer">
    <div id="arrowDownIndexParent">
      <img
        id="arrowDownIndex"
        src="/icons/keyboard_double_arrow_down.svg"
        alt=""
      />
    </div>
    <% for (let category of categories) {%>
    <div class="card cardIndex my-4">
      <a href="/categories/<%= category._id %>" class="text-decoration-none">
        <div class="card-header cardIndexHeader">
          Author : <%= category.authorName %>
        </div>
        <div class="card-body cardIndexBody">
          <h5 class="card-title"><%= category.categoryName %></h5>
        </div>
      </a>
    </div>
    <% } %>
    <nav aria-label="Page navigation example" id="paginationIndex">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="?page=<%= pageBefore %>"
            >&laquo; Halaman
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page=<%= pageAfter%>">Halaman &raquo;</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
