<% layout('layouts/boilerplate') %>
<h3 class="text-center mb-5"><%= posts[0].postCategory %></h3>
<% for (let post of posts) {%> 
<div class="cardShow card mt-0 mb-5">
    <div id="cardShowHeader" class="card-header">
        <a class="headerCardDesc" href=""><%= post.postCategory %></a>
        <a class="ownerName ms-auto" href="">
            <%= post.author.username %>
        </a> 
        <% if(currentUser && post.author.equals(currentUser._id)) {%>
            <div id="buttonShow">
                <a href="/posts/<%= post._id %>/edit"><button type="button"
                        class="btn btn-sm btn-info">Edit</button></a>
                <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-sm btn-danger">Delete</button>
                </form>
            </div>
            <% } %>
    </div>
    <a class="text-decoration-none text-black" href="/posts/<%=post._id%>">
    <div class="card-body pb-1">

        <h4 class="postTitle">
            <%= post.title %>
        </h4>
        <p>
            <%= post.description %>
        </p>
    </div>
    </a>
    <div id="carouselExampleIndicators" class="carousel slide my-0" data-bs-ride="true">
        <div class="carousel-indicators">
            <% for (let i=0 ; i<post.images.length ; i++){%>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= i %>"
                    <%=i==0 ? "class=active aria-current=true" : '' %>
                    aria-label="Slide <%= i+1 %>"></button>
                <% }%>
        </div>
        <div class="carousel-inner">
            <% for (let i=0 ; i<post.images.length ; i++){%>
                <div class="carousel-item <%= i == 0 ? 'active' : '' %>">
                    <img src="<%= post.images[i].url %>" class="d-block w-100 image-post-show" alt="...">
                </div>
                <% }%>
        </div>
        <% if (post.images.length> 1) {%>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            <% } %>
    </div>

</div>
<% } %> 