<% layout('layouts/boilerplate') %>

<div id="showUserPageContainer">
  <div id="cardUser" class="card col-sm-6 offset-sm-3 my-4">
    <div class="card-body">
      <span><%= user.name %></span>
      <span class="small textt-muted">Username : <%= user.username %></span>
    </div>
  </div>
  <div class="cardStatisticContainer">
    <div class="card col-sm-4">
      <div class="card-body">
        <div>
          Total Kategori : <%= totCategories %>
        </div>
        <span class="material-symbols-rounded">
          folder
        </span>
      </div>
    </div>
    <div class="card col-sm-4">
      <div class="card-body">
        <div>
          Total Post : <%= totPosts %>
        </div>
        <span class="material-symbols-rounded">
          description
        </span>
      </div>
    </div>
    <div class="card col-sm-4">
      <div class="card-body">
        <div>
          Total Penjawab : <%= totAnswerer %>
        </div>
        <span class="material-symbols-rounded">
          group
        </span>
      </div>
    </div>
    <div class="card col-sm-4">
      <div class="card-body">
        <div>
          Total Jawaban : <%= totAnswer %>
        </div>
        <span class="material-symbols-rounded">
          comment
        </span>
      </div>
    </div>
  </div>
  <div class="col-sm-8 offset-sm-2">
    <h4 class="text-center m-4">Categories</h4>
    <% for (let category of categories) {%>
    <div class=" card cardIndex my-4">
      <a href="/categories/<%= category._id %>" class="text-decoration-none">
        <div class="card-body cardIndexBody">
          <h5 class="card-title">
            <%= category.categoryName %>
          </h5>
        </div>

      </a>
    </div>
    <% } %>
  </div>
</div>