<% layout('layouts/boilerplate') %>
<div class="col-sm-6 offset-sm-3 newAndEditFormContainer mb-4">
    <h3 class="text-center mb-4">EDIT SOAL</h3>
    <form action="/posts/<%= post._id %>?_method=PUT " method="POST" novalidate class="needs-validation"
        enctype="multipart/form-data">
        <div class="form-group mb-3">
            <label class="form-label" for="title">Judul</label>
            <input type="text" class="form-control" id="title" name="post[title]" value="<%= post.title %> ">
            <div class="invalid-feedback">
                Wajib Terisi!
            </div>
        </div>
        <div class="form-group mb-3">
            <label class="form-label" for="description">Pertanyaan</label>
            <textarea class="form-control" id="description" rows="3" name="post[description]"
                required><%= post.description %></textarea>
            <div class="invalid-feedback">
                Wajib Terisi!
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="image">Tambah Gambar</label>
            <input type="file" class="form-control" name="post[image]" id="image" multiple>
        </div>
        <div class="mb-3">
            <span>Hapus Gambar : </span> <br>
            <% post.images.forEach(function(image,i) {%>
            <label class="form-check-label mb-3" for="imageDelete-<%= i %>">
                <input class="form-check-input" name="deleteImages[]" type="checkbox" value="<%= image.filename %>"
                    id="imageDelete-<%= i %>">
                <img src="<%= image.thumbnail %>" class="img-thumbnail" alt="">
            </label>
            <% }) %>
        </div>
        <div class="form-group mb-3">
            <label class="form-label" for="postCategory">Kelompok Soal</label>
            <input type="text" class="form-control" id="postCategory" name="post[postCategory]"
                value="<%= post.postCategory %>" disabled required>
            <div class="invalid-feedback">
                Wajib Terisi!
            </div>
        </div>
        <fieldset disabled>
            <div class="form-group mb-3" id="questionType">
                <label class="form-label" for="questionTypeOptionsEdit">Tipe Soal</label>
                <select class="form-select" id="questionTypeOptionsEdit" name="post[type]" required>
                    <% selected = '' %>
                    <option value="essay" <%  selected = ( post.type == 'isian' ) ? "selected" : ""%> <%= selected %>>
                        Isian</option>
                    <option value="options" <%  selected = ( post.type == 'options' ) ? "selected" : ""%>
                        <%= selected %>>
                        Pilihan
                        ganda</option>
                </select>
                <div class="invalid-feedback">
                    Wajib Terisi!
                </div>
            </div>
        </fieldset>
        <fieldset id="keyOptions" class="options" disabled>
            <div class="form-group mb-3">
                <label class="form-label">Pilihan jawaban</label>
                <div class="input-group input-group-sm mb-2">
                    <span class="input-group-text">a</span>
                    <textarea class="form-control" name="post[options]" required><%= post.options[0] %></textarea>
                </div>
                <div class="input-group input-group-sm mb-2">
                    <span class="input-group-text">b</span>
                    <textarea class="form-control" name="post[options]" required><%= post.options[1] %></textarea>
                </div>
                <div class="input-group input-group-sm mb-2">
                    <span class="input-group-text">c</span>
                    <textarea class="form-control" name="post[options]" required><%= post.options[2] %></textarea>
                </div>
                <div class="input-group input-group-sm mb-2">
                    <span class="input-group-text">d</span>
                    <textarea class="form-control" name="post[options]" required><%= post.options[3] %></textarea>
                </div>
                <div class="input-group input-group-sm mb-2">
                    <span class="input-group-text">e</span>
                    <textarea class="form-control" name="post[options]" required><%= post.options[4] %></textarea>
                </div>
                <div class="invalid-feedback">
                    Wajib Terisi!
                </div>
            </div>
        </fieldset>
        <fieldset id="keyAnswer" class="options" disabled>
            <div class="form-group mb-3">
                <label class="form-label" for="keyNew">Kunci jawaban</label>
                <select class="form-select" id="keyNew" name="post[key]" required>
                    <% let opts = ['a','b','c','d','e']; %>
                    <%  for (let i=0;i<opts.length;i++) { %>
                    <%  let selected = ( post.key == i ) ? "selected" : "";%>
                    <option value="<%=i %>" <%= selected %>> <%=opts[i]%> </option>
                    <% } %>
                </select>
                <div class="invalid-feedback">
                    Wajib Terisi!
                </div>
            </div>
        </fieldset>
        <button class="btn btnNewCustom btn-sm btn-success mb-3">Perbarui</button>
        <a href="/posts/<%= post._id %>"><button type="button"
                class="btn btnNewCustom btn-sm btn-danger mb-3 ms-3">Batal</button></a>
    </form>
</div>