<% layout('layouts/boilerplate') %>
    <div class="col-6 offset-3">
        <h3 class="text-center mb-4">EDIT SOAL</h3>
        <form action="/posts/<%= post._id %>?_method=PUT " method="POST" novalidate class="needs-validation"
            enctype="multipart/form-data">
            <div class="form-group mb-3">
                <label class="form-label" for="titleEdit">Judul</label>
                <input type="text" class="form-control" id="titleEdit" name="post[title]" value="<%= post.title %> ">
            </div>
            <div class="form-group mb-3">
                <label class="form-label" for="descriptionEdit">Pertanyaan</label>
                <textarea class="form-control" id="descriptionEdit" rows="3" name="post[description]"
                    required><%= post.description %></textarea>
                <div class="invalid-feedback">
                    Wajib Terisi!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="imageEdit">Tambah Gambar</label>
                <input type="file" class="form-control" name="post[image]" id="imageEdit" multiple>
            </div>
            <div class="mb-3">
                <span>Hapus Gambar : </span> <br>
                <% post.images.forEach(function(image,i) {%>
                    <label class="form-check-label mb-3" for="imageDelete-<%= i %>">
                        <input class="form-check-input" name="deleteImages[]" type="checkbox"
                            value="<%= image.filename %>" id="imageDelete-<%= i %>">
                        <img src="<%= image.thumbnail %>" class="img-thumbnail" alt="">
                    </label>
                    <% }) %>
            </div>
            <div class="form-group mb-3">
                <label class="form-label" for="postCategoryEdit">Kelompok Soal</label>
                <input type="text" class="form-control" id="postCategoryEdit" name="post[postCategory]" 
                    value="<%= post.hashtag %>" required>
            </div>
            <div class="invalid-feedback">
                Wajib Terisi!
            </div>
            <button class="btn btnNewCustom btn-sm btn-success mb-3">Perbarui</button>
            <a href="/posts/<%= post._id %>"><button type="button"
                    class="btn btnNewCustom btn-sm btn-danger mb-3 ms-3">Batal</button></a>
        </form>
    </div>