<!DOCTYPE html>
<html lang="en">

<% layout('layouts/boilerplate') %>
<div class="buttonContainerShow">
    <a class="btn btn-sm btn-primary mb-2 " href="/categories/<%= post.category._id %>" role="button">Kembali</a>
    <% if(currentUser && post.author.equals(currentUser._id)) {%>
    <div id="buttonShow" class="mb-2 me-auto">
        <% if (post.isAvailable==="true" ) {%>
        <form action="/posts/<%= post._id %>/hide" method="POST">
            <button class="btn btn-sm btn-warning">Tutup Soal</button>
        </form>
        <% } else {%>
        <form action="/posts/<%= post._id %>/unhide" method="POST">
            <button class="btn btn-sm btn-success">Buka Soal</button>
        </form>
        <% } %>
        <a href="/posts/<%= post._id %>/edit"><button type="button" class="btn btn-sm btn-info">Edit</button></a>
        <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
            <button class="btn btn-sm btn-danger">Hapus</button>
        </form>
    </div>
    <% } %>
</div>
<!-- QUESTION -->
<div class="col-sm-8 offset-sm-2 card mt-0">
    <div id="cardShowHeader" class="card-header cardHeaderColored">
        <a class="headerCardDesc" href="/categories/<%= post.category._id %>">
            <%= post.postCategory %>
        </a>
        <a class="ownerName ms-auto" href="">
            <%= post.author.name %>
        </a>
    </div>
    <div class="card-body pb-1">
        <h4 class="postTitle">
            <%= post.title %>
        </h4>
        <p>
            <%= post.description %>
        </p>
        <p class="mb-0">
            <a href="" class="postHashtag">
                <%= post.hashtag %>
            </a>
        </p>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide my-0" data-bs-ride="true">
        <div class="carousel-indicators">
            <% for (let i=0 ; i<post.images.length ; i++){%>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= i %>"
                <%=i==0 ? "class=active aria-current=true" : '' %> aria-label="Slide <%= i+1 %>"></button>
            <% }%>
        </div>
        <div class="carousel-inner">
            <% for (let i=0 ; i<post.images.length ; i++){%>
            <div class="carousel-item <%= i == 0 ? 'active' : '' %>">
                <img src="<%= post.images[i].url %>" class="d-block w-100 image-post-show" alt="...">
            </div>
            <% }%>
        </div>
        <% if (post.images.length> 1) {%>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        <% } %>
    </div>

</div>
<!-- ANSWER -->
<% if (currentUser) {%>
<% if(post.type == "options") {%>
<!-- answer options -->
<div class="col-sm-8 offset-sm-2 my-3 py-3" id="formAnswerOptions">

    <h6 class="mb-3 text-muted">Pilih salah satu jawaban</h6>
    <form action="/posts/<%= post._id %>/comments" method="POST" class="needs-validation ms-2" novalidate>
        <% for (let option of post.options) {%>
        <div class="form-check mb-3">
            <input class="form-check-input" type="radio" value="<%= post.options.indexOf(option) %>"
                name="comment[choice]" id="option<%= post.options.indexOf(option) %>" required>
            <label class="form-check-label" for="option<%= post.options.indexOf(option) %>">
                <%= option %>
            </label>
        </div>
        <% } %>
        <button class="btn btn-sm btn-success mt-2">Kirim</button>
    </form>
</div>
<% } else {%>
<!-- answer essay -->
<div class="col-sm-8 offset-sm-2 my-3" id="formAnswerEssay">
    <form action="/posts/<%= post._id %>/comments" method="POST" class="needs-validation" novalidate>
        <label class="form-label text-muted" for="commentAdd"> Masukkan Jawaban Anda</label>
        <textarea class="form-control" name="comment[text]" id="commentAdd" cols="50" rows="8" required></textarea>
        <div class="invalid-feedback">
            Ketik sesuatu!
        </div>
        <button class="btn btn-sm btn-success mt-3">Kirim</button>
    </form>
</div>
<% } %>

<h6 class="col-sm-8 offset-sm-2 my-4 text-muted">Jawaban : </h6>
<% for (let comment of post.comments) {%>
<% if (comment.author.equals(currentUser._id) || post.author.equals(currentUser._id)) {%>

<div id="commentsShow">
    <div class="col-sm-8 offset-sm-2 card mb-2">
        <div class="card-header">
            <a class="ownerName text-primary" href="/categories/<%= post.category %>/<%= comment.author._id %>">
                <%= comment.author.name %>
            </a>
            <% if(comment.type == 'options' && post.author.equals(currentUser._id)) {  %>
            <% if (comment.correctness === true) {%>
            <div class="text-success answerCorrectness">
                <span>
                    Jawaban Benar
                </span>
                <span class="material-symbols-rounded fs-5">
                    verified
                </span>
            </div>
            <% } else {%>
            <div class="text-danger answerCorrectness">
                <span>
                    Jawaban Salah
                </span>
                <span class="material-symbols-rounded fs-5">
                    block
                </span>
            </div>
            <% } %>
            <% } %>
            <% if(currentUser && comment.author.equals(currentUser._id)) {%>
            <form action="/posts/<%= post._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                <button class="btn btn-sm btn-danger">Delete</button>
            </form>
            <% } %>
        </div>
        <div class="card-body">
            <% if (comment.type == 'essay') {%>
            <p class="card-text">
                <%= comment.text %>
            </p>
            <% } else if(comment.type == 'options') { %>
            <p class="card-text">
                <%= comment.choiceValue %>
            </p>
            <% } %>
        </div>
    </div>
</div>
<% } %>
<% } %>
<% } else { %>
<h5 class="col-sm-8 offset-sm-2 my-4">Login untuk memberi jawaban anda !</h5>
<% } %>
</div>