<!DOCTYPE html>
<html lang="en">

<% layout('layouts/boilerplate') %>
    <div class="buttonContainerShow">
        <a class="btn btn-sm btn-primary mb-2 " href="/<%= post.author._id %>/<%= post.postCategoryId %>"
            role="button">Kembali</a>
        <% if(currentUser && post.author.equals(currentUser._id)) {%>
            <div id="buttonShow" class="mb-2 me-auto">
                <% if (post.isAvailable==="true" ) {%>
                    <form action="/posts/<%= post._id %>/hide" method="POST">
                        <button class="btn btn-sm btn-warning">Tutup Soal</button>
                    </form>
                    <% } else {%>
                        <form action="/posts/<%= post._id %>/unhide" method="POST">
                            <button class="btn btn-sm btn-success">Buka Soal</button>
                        </form>
                        <% } %>
                            <a href="/posts/<%= post._id %>/edit"><button type="button"
                                    class="btn btn-sm btn-info">Edit</button></a>
                            <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-sm btn-danger">Hapus</button>
                            </form>
            </div>
            <% } %>
    </div>
    <div class="col-sm-8 offset-sm-2 card mt-0">
        <div id="cardShowHeader" class="card-header">
            <a class="headerCardDesc" href="/<%= post.author._id %>/<%= post.postCategoryId %>">
                <%= post.postCategory %>
            </a>
            <a class="ownerName ms-auto" href="/<%= post.author._id %>/<%= post.postCategoryId %>">
                <%= post.author.username %>
            </a>


        </div>
        <div class="card-body pb-1">

            <h4 class="postTitle">
                <%= post.title %>
            </h4>
            <p>
                <%= post.description %>
            </p>
            <p class="mb-0">
                <a href="" class="postHashtag">
                    <%= post.hashtag %>
                </a>
            </p>
        </div>
        <div id="carouselExampleIndicators" class="carousel slide my-0" data-bs-ride="true">
            <div class="carousel-indicators">
                <% for (let i=0 ; i<post.images.length ; i++){%>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= i %>"
                        <%=i==0 ? "class=active aria-current=true" : '' %>
                        aria-label="Slide <%= i+1 %>"></button>
                    <% }%>
            </div>
            <div class="carousel-inner">
                <% for (let i=0 ; i<post.images.length ; i++){%>
                    <div class="carousel-item <%= i == 0 ? 'active' : '' %>">
                        <img src="<%= post.images[i].url %>" class="d-block w-100 image-post-show" alt="...">
                    </div>
                    <% }%>
            </div>
            <% if (post.images.length> 1) {%>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
                <% } %>
        </div>

    </div>
    <% if(currentUser) {%>
        <div class="col-sm-8 offset-sm-2 my-3">
            <form action="/posts/<%= post._id %>/comments" method="POST" class="needs-validation" novalidate>
                <label class="form-label" for="commentAdd"> Masukkan Jawaban Anda</label>
                <textarea class="form-control" name="comment[text]" id="commentAdd" cols="50" rows="8"
                    required></textarea>
                <div class="invalid-feedback">
                    Ketik sesuatu!
                </div>
                <button class="btn btn-sm btn-success mt-3">Kirim</button>
            </form>
        </div>
        <% } %>
            <h4 class="col-sm-8 offset-sm-2 my-4">Jawaban : </h4>
            <% for (let comment of post.comments) {%>
                <% if (currentUser) {%>
                    <% if (comment.author.equals(currentUser._id) || post.author.equals(currentUser._id)) {%>
                        <div id="commentsShow">
                            <div class="col-sm-8 offset-sm-2 card mb-2">
                                <div class="card-header">
                                    <a class="ownerName" href="">
                                        <%= comment.author.username %>
                                    </a>
                                    <% if(currentUser && comment.author.equals(currentUser._id)) {%>
                                        <form action="/posts/<%= post._id %>/comments/<%= comment._id %>?_method=DELETE"
                                            method="POST">
                                            <button class="btn btn-sm btn-danger">Delete</button>
                                        </form>
                                        <% } %>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">
                                        <%= comment.text %>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <% } %>
                            <% } %>
                                <% } %>
                                    </div>